#audiowrapper {
    width: 100%;
    text-align: center;
}
#canvaswrapper {
    width: 100%;
    text-align: center;
}
#image{
    text-align: center;
}
#framelist{
    text-align: center;
}

audio {
    width: 80%;
    height: 54px;
}
body{
    background-color:#333333;
    color:#ffffff;
}